<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/bootstrap :: head}"></div>
<title>Insert title here</title>
</head>
<body>

<div class="col-12 text-center mt-3 mb-5">
	<form action="/">
		<label>Nome: </label>
		<input type="text" name="keyword" >
		<input type="submit" value="SEARCH">
	</form>
</div>

<table th:if="${elencoPizze.size()>0}" class="text-center">
	<tr>
		<th class="col-3">Nome</th>
		<th class="col-3">Descrizione</th> 
		<th class="col-3">Foto</th>
		<th class="col-3">Prezzo</th>
	</tr>

	<tr th:each = "elencopizza : ${elencoPizze}" th:object="${elencopizza}">
		<td><a th:text = "*{name}" th:href="'pizze/'+*{id}"></td>
		<td th:text = "*{description}"></td>
		<td ><img alt="" th:src="*{photo}" class="w-50"></td>
		<td th:text = "*{price} + '€'"></td>
	</tr>
</table>
<h3 th:if="${elencoPizze.size()==0}" class="text-center">Non ci sono pizze al momento</h3>

<div th:replace="~{fragments/bootstrap :: script}"></div>
</body>
</html>